<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "msnowden.png" %>
	</div>

	<div id="content">
		<h1>Hey, I'm Michael Snowden</h1>
		<p>I built this blog in Ruby on Rails, and I intend to use to to blog about my experiences learning Ruby on Rails</p>
	</div>
</div>
