<%= @post.each do |post| %>
  <div class="post_wrapper">
    <h2 class="Title"><%= link_to post.title, post %></h2>
    <p class ="date"><%= post.created_at.time_ago_in_words%> </p>
  </div>
<% end %>
